<!--<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">-->
<!--<html  xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">-->
<!--<head>-->
<!--    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Test</title>-->
<!--    <link th:href="@{/resources/css/style.css}" rel="stylesheet">-->
<!--</head>-->
<!--<body>-->
<!--<div class="left-side-container">-->
<!--    <div class="grid-container">-->
<!--        <div class="header">-->
<!--            <div>-->
<!--                <input class="form-control" />-->
<!--                <input type="submit" class="btn btn-secondary" value="Suchen"/>-->
<!--            </div>-->
<!--            <div class="icons">-->
<!--                <span class="material-icons">shopping_cart</span>-->
<!--                <span class="material-icons">filter_alt</span>-->
<!--                <span class="material-icons">person_add</span>-->
<!--                <span class="material-icons">login</span>-->
<!--            </div>-->
<!--        </div>-->
<!--        <div class="info">Mustermann Max-->
<!--            <p class="p-employee">Mitarbeiter</p>-->
<!--        </div>-->
<!--        <div class="main">-->



<!--            <header>-->
<!--                <h1>Bestellungen</h1>-->
<!--            </header>-->


<!--            <div>-->
<!--                <table class="ui celled table">-->
<!--                    <thead>-->
<!--                    <tr>-->
<!--                        <th>Datum</th>-->
<!--                        <th>Kunde</th>-->
<!--                        <th>Bezahlter Gesamtpreis</th>-->
<!--                    </tr>-->
<!--                    </thead>-->
<!--                    <tbody th:remove="all-but-first">-->
<!--                    <tr rowspan="2" th:each="order : ${ordersCompleted} ">-->
<!--                        <td th:text="${#temporals.format(order.dateCreated, 'dd.MM.yyyy HH:mm')}"></td>-->
<!--                        <td th:text="${order.userAccount.id}"></td>-->
<!--                        <td th:text="${order.total}"></td>-->
<!--                    </tr>-->
<!--                    </tbody>-->
<!--                </table>-->
<!--            </div>-->





<!--        </div>-->
<!--        <div class="left-bar">-->
<!--            <div>-->
<!--                <ul>-->
<!--                    <li class="left-content">Katalogverwaltung</li>-->
<!--                    <li class="left-content">Lager & Nachbestellung</li>-->
<!--                    <li class="left-content">Kundenstammverwaltung</li>-->
<!--                    <li class="left-content">Benutzerverwaltung</li>-->
<!--                    <li class="left-content">Benutzerverwaltung</li>-->
<!--                    <li class="left-content">Rechnungen</li>-->
<!--                    <li class="left-content">Bilanzierung</li>-->
<!--                </ul>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div>-->

<!--</body>-->
<!--</html>-->