<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- START BASIC STYLING IMPORTS -->
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <!-- END BASIC STYLING IMPORTS -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="../static/resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet">

    <style>
        input {
            width: 100%;
        }

        .test {
            background: red;
        }


        .column {
            float: left;
            width: 40%;
        }

    </style>


    <title>Lager</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top" th:replace="fragments/common :: menu('inventory')"/>


<header class="text-center">
    <h1 class="text-center">Lagerbestand</h1>
    <br>
</header>


<main role="main" class="container">
    <div class="ui container">

        <table class="ui celled table">
            <thead>
            <tr>
                <th>Artikel</th>
                <th></th>
                <th></th>
                <th>Anzahl</th>
                <th>Nachbestellen</th>
                <th>Mindestbestand</th>
                <th>Entfernen</th>
            </tr>
            </thead>


            <tbody th:remove="all-but-first">
            <tr th:each="item : ${stock}">


                <!-- Name -->
                <td nowrap th:text="${item.product.name}">Wein</td>
                <td></td>

                <!-- Anzahl -->
                <td>
                    <span th:if="${item.quantity.isLessThan(item.product.getMinAmount())}">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                             class="bi bi-exclamation-square" viewBox="0 0 16 16"
                             style="--darkreader-inline-fill:currentColor; color: red" data-darkreader-inline-fill="">
                            <path d="M14 1a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"></path>
                            <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z"></path>
                        </svg>
                    </span>
                </td>

                <!-- Anzahl ändern-->
                <td>
                    <form class="ui form" method="post"
                          th:action="@{/inventory/{productId}(productId=${item.product.productId})}">
                        <div class="column">
                            <div class="field">
                                <input style="border:none; border-bottom:1px solid black" size="20px" id="number"
                                       type="number" name="number"
                                       min="0" max="100" step="1" th:value="${item.quantity}"/>
                            </div>
                        </div>


                        <div class="column">
                            <button style="padding: 1px 8px" type="submit" class="btn btn-outline-dark">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </td>


                <td>
                    <form class="ui form" method="post"
                          th:action="@{/reorders/{productId}(productId=${item.product.productId})}">
                        <div class="column">
                            <div class="field">
                                <input style="border:none; border-bottom:1px solid black" size="20px" id="number"
                                       type="number" name="number"
                                       min="1" max="100"
                                       step="1" th:value="1"/>
                            </div>
                        </div>
                        <div class="column">
                            <button style="padding: 1px 8px" type="submit" class="btn btn-outline-dark">
                                <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em"
                                     fill="currentColor" class="bi bi-cart-plus" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd"
                                          d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l1.313 7h8.17l1.313-7H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
                                    <path fill-rule="evenodd"
                                          d="M8.5 5a.5.5 0 0 1 .5.5V7h1.5a.5.5 0 0 1 0 1H9v1.5a.5.5 0 0 1-1 0V8H6.5a.5.5 0 0 1 0-1H8V5.5a.5.5 0 0 1 .5-.5z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </td>


                <td>
                    <form class="ui form" method="post"
                          th:action="@{/inventory/updateMinAmount/{productId}(productId=${item.product.productId})}">
                        <div class="column">
                            <div class="field">
                                <input style="border:none; border-bottom:1px solid black" size="20px" id="number"
                                       type="number" name="number"
                                       min="0" max="100" step="1"
                                       th:value="${item.product.getMinAmount()}"/>
                            </div>
                        </div>
                        <div class="column">
                            <button style="padding: 1px 8px" type="submit" class="btn btn-outline-dark">
                                <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-arrow-clockwise"
                                     fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd"
                                          d="M8 3a5 5 0 1 0 4.546 2.914.5.5 0 0 1 .908-.417A6 6 0 1 1 8 2v1z"/>
                                    <path d="M8 4.466V.534a.25.25 0 0 1 .41-.192l2.36 1.966c.12.1.12.284 0 .384L8.41 4.658A.25.25 0 0 1 8 4.466z"/>
                                </svg>
                            </button>
                        </div>
                    </form>
                </td>
                <td>
                    <form class="ui form" method="post" role="form"
                          th:action="@{/inventory/delete/{productId}(productId=${item.product.productId})}">
                        <button type="submit" onclick="return confirm('Wollen Sie wirklich dieses Produkt entfernen?')"
                                style="padding: 1px 30px" class="btn btn-outline-danger">
                            <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-trash"
                                 fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd"
                                      d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg>
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>


<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: jQuery and Bootstrap Bundle (includes Popper) -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

<!-- Option 2: jQuery, Popper.js, and Bootstrap JS
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.min.js" integrity="sha384-w1Q4orYjBQndcko6MimVbzY0tgp4pWB4lZ7lr30WKz0vr/aWKhXdBNmNb5D92v7s" crossorigin="anonymous"></script>
-->
</body>
</html>