<!doctype html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      lang="de">
<head>
    <meta charset="UTF-8">

    <!-- START BASIC STYLING IMPORTS -->
    <link rel="stylesheet" type="text/css" th:href="@{/webjars/bootstrap/css/bootstrap.min.css}">
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
    <script src="https://kit.fontawesome.com/6a6b621601.js" crossorigin="anonymous"></script>
    <!-- END BASIC STYLING IMPORTS -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="resources/css/style.css" th:href="@{/resources/css/style.css}" rel="stylesheet">
    <link href="resources/css/catalog.css" th:href="@{/resources/css/catalog.css}" rel="stylesheet">

    <title>Katalog</title>
</head>
<body>
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top"
     th:replace="fragments/common :: menu('catalog')"></nav>
<header class="text-center">
    <h1 class="text-center">Katalog</h1>
    <hr>
</header>
<main role="main" class="container">
    <div class="container">
        <div class="row pt-4">
            <div class="col-4">
                <div class="input-group" sec:authorize="hasRole('ADMIN')">
                    <a class="btn btn-primary" th:href="@{newProduct}" role="button"><i class="fas fa-plus pr-2"></i>Neues
                        Produkt hinzufügen</a>
                </div>
            </div>

            <div class="col-4"></div>

            <form class="col-4" th:action="@{/catalog}" method="post" id="form">
                <div class="row float-right">
                    <div class="col-12 input-group">
                        <div class="input-group-prepend">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon">Suchen</button>
                        </div>
                        <input type="text" class="form-control" placeholder="Sucheingabe"
                               aria-label="Example text with button addon" aria-describedby="button-addon"
                        >
                    </div>
                </div>
                <!-- to write search
                <input id="filter" name="filterType" th:value="${type}" type="text" hidden>
                -->
            </form>
        </div>


        <div class="row mt-3">
            <div class="col-4 pt-2 mb-3" th:each="wine : ${wineCatalog}">
                <div class="card">


                    <a class="card-body-link" th:href="@{/wine/{productId}(productId=${wine.getProductId()})}">
                        <img th:src="@{/resources/image/cover/{image}.jpg(image=${wine.pic})}"
                             src="/resources/img/cover/mas.png"
                             class="card-img-top" alt="image">


                        <div class="card-body">
                            <h5 class="card-title" th:text="${wine.name}"></h5>
                            <p class="card-text text-secondary card-description"
                               th:text="${wine.getWineTypeAufDeutsch()}"></p>
                            <div>
                                <span>€</span>
                                <span class="card-text" th:text="${wine.getBuyPrice2()}"></span>

                            </div>
                        </div>
                    </a>


                    <div class="card-footer text-muted font-weight-light">
                        <span>Auf Lager: </span>
                        <span th:text="8" style="margin-right: 40px"></span>

                        <span class="rating" style="text-align: right">
                            <a class="rating" th:each="i : ${#numbers.sequence(10, 1)}" th:value="${i}"
                               style="font-size: large; margin-left: -4px"
                               th:href="@{/order/addToBasket/{productId}/{quantity} (productId=${wine.getProductId()}, quantity=${i})}">🍷&#xFE0E</a>
                        </span>
                    </div>


                </div>
            </div>
        </div>
    </div>
</main>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx"
        crossorigin="anonymous"></script>

</body>
</html>